{% extends 'events/base.html' %}
{% block content %}
<h1>Events</h1>
<ul>
    {% for event in event_list %}

    <div class="card">
  <div class="card-header">
    {{ event }}
  </div>
  <div class="card-body">
    <h5 class="card-title">Venue: {{ event.venue }}</h5>
    <p class="card-text"><ul>
    <li> Date: {{ event.event_date }} </li>

    <li> Web: {{ event.venue.web }} </li>
    <li> Manager: {{ event.manager }} </li>
    <li> Description: {{ event.description }} </li>
    <li> Attandees:
        <ul> 
        {% for attandee in event.attandees.all %}
        <li> {{ attandee }}</li>
        {% endfor %}
        </ul>
    </li>
    </ul></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

    {% endfor %}
</ul>
{% endblock %}